<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title id="title">Baja Trans | Your Logistics Partner</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link
        href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=all'
        rel='stylesheet' type='text/css'>
    <link href="dist/plugins/socicon/socicon.css" rel="stylesheet" type="text/css" />
    <link href="dist/plugins/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css" />
    <link href="dist/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="dist/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="dist/plugins/animate/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="dist/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN: BASE PLUGINS  -->
    <link href="dist/plugins/revo-slider/css/settings.css" rel="stylesheet" type="text/css" />
    <link href="dist/plugins/revo-slider/css/layers.css" rel="stylesheet" type="text/css" />
    <link href="dist/plugins/revo-slider/css/navigation.css" rel="stylesheet" type="text/css" />
    <link href="dist/plugins/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css" />
    <link href="dist/plugins/owl-carousel/assets/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="dist/plugins/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <link href="dist/plugins/slider-for-bootstrap/css/slider.css" rel="stylesheet" type="text/css" />
    <!-- END: BASE PLUGINS -->

    <!-- BEGIN: PAGE STYLES -->
    <link href="dist/plugins/ilightbox/css/ilightbox.css" rel="stylesheet" type="text/css" />
    <!-- END: PAGE STYLES -->

    <!-- BEGIN THEME STYLES -->
    <link href="dist/demos/default/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="dist/demos/default/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="dist/demos/default/css/themes/default.css" rel="stylesheet" id="style_theme" type="text/css" />
    <link href="dist/demos/default/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->

    <link rel="shortcut icon" id="favicon" href="" />
  </head>

  <body class="c-layout-header-fixed c-layout-header-mobile-fixed">

    <!-- BEGIN: LAYOUT/HEADERS/HEADER-1 -->
    <!-- BEGIN: HEADER -->
    <header class="c-layout-header c-layout-header-4 c-layout-header-default-mobile" data-minimize-offset="80">
        <div class="c-navbar">
            <div class="container">
                <!-- BEGIN: BRAND -->
                <div class="c-navbar-wrapper clearfix">
                    <div class="c-brand c-pull-left">
                        <a href="/" class="c-logo">
                            <img src="" alt=""
                                class="c-desktop-logo logo">
                            <img src="" alt=""
                                class="c-desktop-logo-inverse logo">
                            <img src="" alt=""
                                class="c-mobile-logo logo">
                        </a>
                        <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
                            <span class="c-line"></span>
                            <span class="c-line"></span>
                            <span class="c-line"></span>
                        </button>
                    </div>

                    <nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
                        <ul class="nav navbar-nav c-theme-nav">
                            <!-- <li class="c-active"> -->
                            <li class="">
                                <a href="/" class="c-link">Home<span class="c-arrow c-toggler"></span></a>
                            </li>
                            <li class="">
                                <a href="/shipper" class="c-link">Shipper<span class="c-arrow c-toggler"></span></a>
                            </li>
                            <li class="">
                                <a href="/vendor" class="c-link">Vendor<span class="c-arrow c-toggler"></span></a>
                            </li>
                            <li class="c-menu-type-classic">
                              <a href="javascript:;" class="c-link dropdown-toggle">About Us<span
                                      class="c-arrow c-toggler"></span></a>


                              <ul class="dropdown-menu c-menu-type-classic c-pull-left">
                                  <li class="">
                                      <a href="/our-services" class="c-link">Services<span class="c-arrow c-toggler"></span></a>
                                  </li>
                                  <!-- <li class="">
                                      <a href="/about-apps" class="c-link">About Apps<span class="c-arrow c-toggler"></span></a>
                                  </li> -->
                                  <li class="">
                                      <a href="/contact-us" class="c-link">Contact us<span class="c-arrow c-toggler"></span></a>
                                  </li>
                              </ul>

                          </li>
                            <li>
                                <a href="" id="signIn" target="_blank" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-uppercase c-btn-sbold"><i class="icon-user"></i> Sign In</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div id="app"></div>

    <a name="footer"></a>
    <footer class="c-layout-footer c-layout-footer-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="c-container c-first">
                        <div class="c-content-title-1">
                            <h3 class=" c-font-bold company_name"></h3>
                            <div class="c-line-left"></div>
                            <p style="color: #ffffff">
                              Melayani kebutuhan transportasi kepada pelanggan lebih dari 37 tahun. Dengan bertumbuhnya
                              usia, kami menawarkan beragam solusi kebutuhan transportasi yang handal (on-time delivery).
                            </p>
                        </div>
                        <a href="/shipper"class="btn c-btn-border-1x c-btn-grey-1 c-btn-square c-btn-uppercase c-btn-bold c-margin-r-40">Jadi Shipper</a>
                        <a href="/vendor" class="btn c-theme-btn c-btn-uppercase c-btn-square c-btn-bold">Jadi Vendor</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="c-container c-last">
                        <div class="c-content-title-1">
                            <h3 class=" c-font-bold">Kami hadir di berbagai platform</h3>
                            <div class="c-line-left"></div>
                        </div>
                        <ul class="c-socials">
                            <li><a href="#"><i class="icon-social-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-social-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-social-youtube"></i></a></li>
                            <li><a href="#"><i class="icon-social-tumblr"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="c-copyright">
                <p class="c-font-oswald c-font-14" style="color: white; font-weight: bold;">Copyright © 2021 <a href="https://mybajatrans.com/" style="color: lightblue" class="link-footer" target="blank">BAJA TRANS</a>. All rights reserved</p>
            </div>
        </div>
    </footer>

    <!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
    <div class="c-layout-go2top">
        <i class="icon-arrow-up"></i>
    </div><!-- END: LAYOUT/FOOTERS/GO2TOP -->

    <!-- BEGIN: LAYOUT/BASE/BOTTOM -->
    <!-- BEGIN: CORE PLUGINS -->
    <!--[if lt IE 9]>
	<script src="dist/global/plugins/excanvas.min.js"></script>
	<![endif]-->
    <script src="../baseUrl.js"></script>

    <script src="dist/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="dist/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="dist/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="dist/plugins/jquery.easing.min.js" type="text/javascript"></script>
    <script src="dist/plugins/reveal-animate/wow.js" type="text/javascript"></script>
    <script src="dist/demos/default/js/scripts/reveal-animate/reveal-animate.js"
        type="text/javascript"></script>

    <!-- END: CORE PLUGINS -->

    <!-- BEGIN: LAYOUT PLUGINS -->
    <script src="dist/plugins/revo-slider/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
    <script src="dist/plugins/revo-slider/js/jquery.themepunch.revolution.min.js"
        type="text/javascript"></script>
    <script src="dist/plugins/revo-slider/js/extensions/revolution.extension.slideanims.min.js"
        type="text/javascript"></script>
    <script src="dist/plugins/revo-slider/js/extensions/revolution.extension.layeranimation.min.js"
        type="text/javascript"></script>
    <script src="dist/plugins/revo-slider/js/extensions/revolution.extension.navigation.min.js"
        type="text/javascript"></script>
    <script src="dist/plugins/revo-slider/js/extensions/revolution.extension.video.min.js"
        type="text/javascript"></script>
    <script src="dist/plugins/revo-slider/js/extensions/revolution.extension.parallax.min.js"
        type="text/javascript"></script>
    <script src="dist/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" type="text/javascript"></script>
    <script src="dist/plugins/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
    <script src="dist/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
    <script src="dist/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
    <script src="dist/plugins/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="dist/plugins/smooth-scroll/jquery.smooth-scroll.js" type="text/javascript"></script>
    <script src="dist/plugins/typed/typed.min.js" type="text/javascript"></script>
    <script src="dist/plugins/slider-for-bootstrap/js/bootstrap-slider.js" type="text/javascript"></script>
    <script src="dist/plugins/js-cookie/js.cookie.js" type="text/javascript"></script>
    <!-- END: LAYOUT PLUGINS -->

    <!-- BEGIN: THEME SCRIPTS -->
    <script src="dist/base/js/components.js" type="text/javascript"></script>
    <script src="dist/base/js/components-shop.js" type="text/javascript"></script>
    <script src="dist/base/js/app.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            App.init(); // init core
        });
    </script>
    <!-- END: THEME SCRIPTS -->

    <script src="dist/base/js/custom-app.js"></script>

    <!-- BEGIN: PAGE SCRIPTS -->
    <script src="dist/demos/default/js/scripts/revo-slider/slider-11.js" type="text/javascript"></script>
    <script src="dist/plugins/isotope/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="dist/plugins/isotope/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="dist/plugins/isotope/packery-mode.pkgd.min.js" type="text/javascript"></script>
    <script src="dist/plugins/ilightbox/js/jquery.requestAnimationFrame.js" type="text/javascript"></script>
    <script src="dist/plugins/ilightbox/js/jquery.mousewheel.js" type="text/javascript"></script>
    <script src="dist/plugins/ilightbox/js/ilightbox.packed.js" type="text/javascript"></script>
    <script src="dist/demos/default/js/scripts/pages/isotope-gallery.js" type="text/javascript"></script>
    <!-- END: PAGE SCRIPTS -->
    <!-- END: LAYOUT/BASE/BOTTOM -->
  </body>
</html>
