<template>
    <div class="c-layout-page">
        <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold">
            <div class="container">
                <div class="c-page-title c-pull-left">
                    <h3 class="c-font-uppercase c-font-sbold">Vendor</h3>
                </div>
                <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                    <li><a href="/" class="company_name">My Baja Trans</a></li>
                    <li>/</li>
                    <li>Vendor</li>

                </ul>
            </div>
        </div>
        <div class="c-content-box c-size-md c-bg-grey-1">
            <div class="container">
                <div class="c-content-bar-2 c-opt-1">
                    <div class="row" data-auto-height="true">
                        <div class="col-md-6">
                            <!-- Begin: Title 1 component -->
                            <div class="c-content-title-1" data-height="height" style="height: 167px;">
                                <h3 class=" c-font-bold"><span class="company_name"> Baja Trans</span> : Vendor</h3>
                                <p class=" c-font-sbold">
                                    Kami adalah <span class="company_name"> Trans </span>, sebuah perusahaan truk yang berkomitmen untuk menciptakan lebih banyak peluang bagi perusahaan seperti milik Anda. Kami ingin bermitra dengan Anda untuk memberikan kesempatan kepada semua orang untuk menjadi vendor kami. Jika Anda tertarik untuk bermitra dengan kami atau mempelajari lebih lanjut, pastikan Anda menghubungi tim kami hari ini.
                                </p>
                            </div>
                            <!-- End-->
                        </div>
                        <div class="col-md-6">
                            <div class="c-content-v-center c-bg-red" data-height="height" style="height: 167px;">
                                <div class="c-wrapper">
                                    <div class="c-body">
                                        <h3 class="c-font-white c-font-bold">
                                            Terima order truk online dan dapatkan pembayaran dalam waktu 2 hari
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-content-box c-size-md c-no-padding c-bg-img-center" style="background-image: url(dist/base/img/content/stock3/61.jpg)">
            <div class="c-content-feature-13">
                <div class="row c-reset">
                    <div class="col-md-6 c-bg-dark">
                        <div class="c-feature-13-container">
                            <div class="c-content-title-1">
                                <h3 class="c-center c-font-uppercase c-font-white c-font-bold">Menjadi 
                                    <span class="c-theme-font">VENDOR</span>
                                </h3>
                                <div class="c-line-center c-theme-bg"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 c-feature-13-tile">
                                    <i class="icon-energy c-theme-font c-font-24"></i>
                                    <div class="c-feature-13-content">
                                        <h4 class="c-font-uppercase c-theme-font c-font-bold">Akses tak terbatas ke pengiriman berkualitas tinggi</h4>
                                        <p class="c-font-white">
                                            Pengiriman dijamin tersedia 24 jam sehari, 7 hari seminggu.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6 c-feature-13-tile">
                                    <i class="icon-star c-theme-font c-font-24"></i>
                                    <div class="c-feature-13-content">
                                        <h4 class="c-font-uppercase c-theme-font c-font-bold">Manfaatkan armada Anda sebaik mungkin</h4>
                                        <p class="c-font-white">
                                            Dengan manajemen armada yang efektif, kendaraan kosong akan menjadi sesuatu dari masa lalu.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row c-margin-t-40">
                                <div class="col-sm-6 c-feature-13-tile">
                                    <i class="icon-hourglass c-theme-font c-font-24"></i>
                                    <div class="c-feature-13-content">
                                        <h4 class="c-font-uppercase c-theme-font c-font-bold">Dapatkan bayaran segera</h4>
                                        <p class="c-font-white">
                                            Segera setelah mengirimkan POD, Anda akan menerima pembayaran dan laporan pembayaran.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6 c-feature-13-tile">
                                    <i class="icon-bubbles c-theme-font c-font-24"></i>
                                    <div class="c-feature-13-content">
                                        <h4 class="c-font-uppercase c-theme-font c-font-bold">Lacak status pembayaran Anda dengan cepat</h4>
                                        <p class="c-font-white">
                                            Periksa status pembayaran di mana saja, kapan saja.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-content-box c-size-lg c-bg-red">
            <div class="container">
                <!-- Begin: testimonials 1 component -->
                <div class="c-content-testimonials-1" data-slider="owl">
                    <!-- Begin: Title 1 component -->
                    <div class="c-content-title-1">
                        <h3 class="c-center c-font-white c-font-uppercase c-font-bold">
                            Let's See What Our Customers Say
                        </h3>
                        <div class="c-line-center c-theme-bg"></div>
                    </div>
                    <!-- End-->
                    <!-- Begin: Owlcarousel -->
                    <div class="owl-carousel owl-theme c-theme c-owl-nav-center owl-loaded" data-single-item="true" data-slide-speed="5000" data-rtl="false">
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(-4800px, 0px, 0px); transition: all 0.25s ease 0s; width: 9600px;">
                                <div class="owl-item cloned" style="width: 1200px; margin-right: 0px;">
                                    <div class="item">
                                        <div class="c-testimonial">
                                            <p>
                                                “It was the smoothest implementation process I have ever been through
                                                with JANGO’s process and schedule.”
                                            </p>
                                            <h3>
                                                <span class="c-name">Arya Stark</span>, CFO, Valar Dohaeris
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 1200px; margin-right: 0px;">
                                    <div class="item">
                                        <div class="c-testimonial">
                                            <p>
                                                “A system change is always stressful and JANGO did a great job of
                                                staying positive, helpful, and patient with us.”
                                            </p>
                                            <h3>
                                                <span class="c-name">Arya Stark</span>, CFO, Valar Dohaeris
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 1200px; margin-right: 0px;">
                                    <div class="item">
                                        <div class="c-testimonial">
                                            <p>
                                                “JANGO is an international, privately held company that specializes in
                                                the start-up, promotion and operation of multiple online marketplaces”
                                            </p>
                                            <h3>
                                                <span class="c-name">John Snow</span>, CEO, Mockingbird
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 1200px; margin-right: 0px;">
                                    <div class="item">
                                        <div class="c-testimonial">
                                            <p>
                                                “After co-founding the company in 2006 the group launched JANGO, the
                                                first digital marketplace which focused on rich multimedia web content”
                                            </p>
                                            <h3>
                                                <span class="c-name">Arya Stark</span>, CFO, Valar Dohaeris
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 1200px; margin-right: 0px;">
                                    <div class="item">
                                        <div class="c-testimonial">
                                            <p>
                                                “It was the smoothest implementation process I have ever been through
                                                with JANGO’s process and schedule.”
                                            </p>
                                            <h3>
                                                <span class="c-name">Arya Stark</span>, CFO, Valar Dohaeris
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 1200px; margin-right: 0px;">
                                    <div class="item">
                                        <div class="c-testimonial">
                                            <p>
                                                “A system change is always stressful and JANGO did a great job of
                                                staying positive, helpful, and patient with us.”
                                            </p>
                                            <h3>
                                                <span class="c-name">Arya Stark</span>, CFO, Valar Dohaeris
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 1200px; margin-right: 0px;">
                                    <div class="item">
                                        <div class="c-testimonial">
                                            <p>
                                                “JANGO is an international, privately held company that specializes in
                                                the start-up, promotion and operation of multiple online marketplaces”
                                            </p>
                                            <h3>
                                                <span class="c-name">John Snow</span>, CEO, Mockingbird
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 1200px; margin-right: 0px;">
                                    <div class="item">
                                        <div class="c-testimonial">
                                            <p>
                                                “After co-founding the company in 2006 the group launched JANGO, the
                                                first digital marketplace which focused on rich multimedia web content”
                                            </p>
                                            <h3>
                                                <span class="c-name">Arya Stark</span>, CFO, Valar Dohaeris
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-controls">
                            <div class="owl-nav">
                                <div class="owl-prev" style="display: none;"></div>
                                <div class="owl-next" style="display: none;"></div>
                            </div>
                            <div class="owl-dots" style="">
                                <div class="owl-dot"><span></span></div>
                                <div class="owl-dot"><span></span></div>
                                <div class="owl-dot active"><span></span></div>
                                <div class="owl-dot"><span></span></div>
                            </div>
                        </div>
                    </div>
                    <!-- End-->
                </div>
                <!-- End-->
            </div>
        </div>
        <div class="c-content-box c-size-md c-bg-grey-1">
            <div class="container">
                <div class="c-content-bar-2 c-opt-1">
                    <div class="row" data-auto-height="true">
                        <div class="col-md-5">
                            <!-- Begin: Title 1 component -->
                            <div class="c-content-title-1" data-height="height" style="height: 167px;">
                                <h3 class=" c-font-bold">Jadi Vendor!</h3>
                                <p class=" c-font-sbold">
                                    Silakan isi data perusahaan
                                    Anda dan tim kami akan
                                    menghubungi Anda untuk
                                    menjadwalkan demo
                                </p>
                            </div>
                            <!-- End-->
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body" v-bind:class="{ load: isLoaded }">
                                    <!-- <p align="center" style="font-size: 30px">COMING SOON ...</p> -->
                                    <div class="modal-body">
                                        <div class="lds-dual-ring" v-show="loader"></div>
                                        <h3 class="c-font-24 c-font-sbold">Bergabung menjadi Vendor!</h3>
                                        <p>Cari muatan untuk armadamu!</p>
                                        <form>
                                            <div class="form-group">
                                                <label for="nama" class="hide">Nama Anda</label>
                                                <input type="text" class="form-control input-lg c-square" name="name" v-model="form.name" placeholder="Nama Anda">
                                                <span class="text-danger text-sm" ref="name" style="display: none">Nama tidak boleh kosong.</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="email" class="hide">Email</label>
                                                <input type="email" class="form-control input-lg c-square" name="email" v-model="form.email" placeholder="Email">
                                                <span class="text-danger text-sm" ref="email" style="display: none">Email tidak boleh kosong.</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="telepon" class="hide">Nomor Telepon</label>
                                                <input type="text" class="form-control input-lg c-square" name="phone" v-model="form.phone" id="phone" placeholder="Nomor Telepon">
                                                <span class="text-danger text-sm" ref="phone" style="display: none">Nomor telepon tidak boleh kosong.</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="password" class="hide">Password</label>
                                                <input type="password" class="form-control input-lg c-square" name="password" v-model="form.password" id="password" placeholder="Password">
                                                <span class="text-danger text-sm" ref="password" style="display: none">Password tidak boleh kosong.</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="re-password" class="hide">Re-Password</label>
                                                <input type="password" class="form-control input-lg c-square" @keyup="checkPassword" name="re_password" v-model="re_password" id="re_password" placeholder="Re-Password">
                                                <span class="text-danger text-sm" ref="re_password" style="display: none">Re-password tidak boleh kosong.</span>
                                                <span class="text-danger text-sm" ref="check_password" style="display: none">Password tidak sama.</span>
                                            </div>
                                            <div class="form-group">
                                                <button type="button" @click.prevent="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Daftar Vendor</button>
                                            </div>
                                            <div class="clearfix">
                                                <div class="c-content-divider c-divider-sm c-icon-bg c-bg-grey c-margin-b-20">
                                                    <span>or signup with</span>
                                                </div>
                                                <ul class="c-content-list-adjusted">
                                                    <!-- <li>
                                                        <a class="btn btn-block c-btn-square btn-social btn-twitter">
                                                            <i class="fa fa-twitter"></i>
                                                            Twitter
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="btn btn-block c-btn-square btn-social btn-facebook">
                                                            <i class="fa fa-facebook"></i>
                                                            Facebook
                                                        </a>
                                                    </li> -->
                                                    <li>
                                                        <a @click="handleClickSignIn" class="btn btn-block c-btn-square btn-social btn-google">
                                                            <i class="fa fa-google"></i>
                                                            Google
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import { inject, toRefs } from "vue";
import moment from 'moment'

export default {
    props: {
        msg: String,
    },
    data() {
        return {
            form: {
                name: "",
                email: "",
                phone: "",
                password: "",
                is_vendor: true,
                is_shipper: false,
                is_approved: false
            },
            re_password: "",
            loader: false,
            isLoaded: false
        }
    },
    methods: {
        async handleClickSignIn(){
            try {
                const googleUser = await this.$gAuth.signIn();
                if (!googleUser) {
                    return null;
                }
                const profile = googleUser.getBasicProfile();
                this.form.name = profile.getName();
                this.form.email = profile.getEmail();
                let time = moment(new Date()).format("Hmmss")
                let date = moment(new Date()).format("DD")
                this.form.password = time+date
                this.store();
            } catch (error) {
                //on fail do something
                console.error(error);
                return null;
            }
        },
        setup(props) {
            const { isSignIn } = toRefs(props);
            const Vue3GoogleOauth = inject("Vue3GoogleOauth");
            const handleClickLogin = () => {};
            return {
                Vue3GoogleOauth,
                handleClickLogin,
                isSignIn,
            };
        },
        checkPassword() {
            if(this.form.password != this.re_password){
                this.$refs.check_password.style.display = "block"
            }
            else {
                this.$refs.check_password.style.display = "none"
            }
        },
        submit() {
            if(this.form.name == '' || this.form.email == '' || this.form.phone == '' || this.form.password == '' || this.re_password == ''){
                if(this.form.name == ''){
                    this.$refs.name.style.display = "block"
                }
                if(this.form.email == ''){
                    this.$refs.email.style.display = "block"
                }
                if(this.form.phone == ''){
                    this.$refs.phone.style.display = "block"
                }
                if(this.form.password == ''){
                    this.$refs.password.style.display = "block"
                }
                if(this.re_password == ''){
                    this.$refs.re_password.style.display = "block"
                }
            }
            else {
                this.store();
            }
        },
        store() {
            const headers = {
                'Content-Type': 'application/json'
            }
            // axios.post("http://bcs-logistics.local/user/register", this.form, {
            //     headers: headers
            // })
            this.isLoaded = true
            this.loader = true
            axios.post(apiUrl+"/user/register", this.form, {
                headers: headers
            })
            .then((res) => {
                this.$router.push('/registered')
                console.log(res);
            })
            .catch((error) => {
                console.log(error);
            });
        }
    }
}
</script>
<style scoped>
    .lds-dual-ring {
        margin: auto;
        position: absolute;
        display: inline-block;
        width: 80px;
        height: 80px;
        left: 25%;
        right: 25%;
        top: 25%;
        bottom: 25%;
    }
    .lds-dual-ring:after {
        content: " ";
        display: block;
        clear: both;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #000;
        border-color: #000 transparent #000 transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    .load {
        opacity: 0.5;
    }
</style>